.cartSummary {
  margin-top: 1rem;
  width: 28rem;
  padding-right: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.cartSummary h2 {
  padding-bottom: 1rem;
  border-bottom: 1px solid var(--color-text-grey);
}

.cartRow {
  display: flex;
  justify-content: space-between;
}

.cartSummaryRow {
  font-weight: 700;
}

.deliveryInfo {
  padding: 1rem;
  font-weight: 700;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid var(--color-grey);
}
